#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:60:00
#SBATCH -p plgrid-testing

set -e

cd $SCRATCHDIR
echo Current dir: $SCRATCHDIR
echo Patient name: {{ case_number }}
echo Pipeline identifier: {{ pipeline_identifier }}
echo Pipeline name: {{ pipeline_name }}
echo Step name: {{ step_name }}

echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------
REPO_DIR=`find . -name .git | cut -d/ -f2`

wget -q https://gitlab.com/lwronski/observability/-/raw/main/monitoring.sh https://gitlab.com/lwronski/observability/-/raw/main/monitoring-env.yml
source monitoring.sh
CASE_NUMBER=`param_or_empty {{ case_number }}`; PIPELINE_IDENTIFIER=`param_or_empty {{ pipeline_identifier }}`; PIPELINE_NAME=`param_or_empty {{ pipeline_name }}`; STEP_NAME=`param_or_empty {{ step_name }}`

setup_conda monitoring-env.yml
install_packages
run_monitoring "--case-number $CASE_NUMBER --pipeline-identifier $PIPELINE_IDENTIFIER --pipeline-name $PIPELINE_NAME --step-name $STEP_NAME" &

echo Run calculation
echo --------------------START-----------------------------

for i in {1..10}; do
    stress-ng -vm 4 --vm-bytes 1% --timeout 30s
    sleep 10
done

bash $REPO_DIR/template.bash
echo --------------------END-------------------------------

echo Uploading results
echo --------------------START-----------------------------
{% stage_out scrapping_logs.txt %}
echo --------------------END-------------------------------
echo Finish
